extends ../main.layout.pug

block content
    form.main-form.main-form--entry(action="/")
        .main-form__input-group
            input(type="text", placeholder="Введите название места")
        .main-form__input-group
            button Добавить место на карту
        