mixin main-form()
    form.main-form.main-form--entry(action="/")
        img.close-btn(src="assets/images/checkmark.svg", alt="close", data-close="close-form")
        legend.main-form__title 
            |Адрес на карте: 
            span(data-role="addressLine") 
        .main-form__input-group.main-form__label
            label(for="place-name") Название места
            input.main-form__input(type="text", placeholder="Введите точный адрес места", id="place-name", data-role="place-name")
        .main-form__input-group
            .main-form__sub-title Выбирите тип места
            
            input.radio-btn(type="radio", value="trashPlace", name="place-type", data-place="trash-place", id="trash-place", checked) 
            label.main-form__label.main-form__label--radio-btn(for="trash-place") Место свалки

            input.radio-btn(type="radio", value="cleanPlace", name="place-type", data-place="clean-place", id="clean-place") 
            label.main-form__label.main-form__label--radio-btn(for="clean-place") Очищенное место

            input.radio-btn(type="radio", value="trashBox", name="place-type", data-place="trashBox-place", id="trash-box") 
            label.main-form__label.main-form__label--radio-btn(for="trash-box") Мусорные контейнеры 
            .main-form__place-menu.main-form__place-menu--place-for-cleaning
               .main-form__gallery-item
                    .main-form__sub-title До уборки
                    input.hide(type="file", multiple, placeholder="Добавте фото")
                    button.main-btn(data-file-btn="trash") Добавте фото
                    .main-form__gallery(data-gallery="trashGallery")
               .main-form__gallery-item
                    .main-form__sub-title После уборки
                    input.hide(type="file", multiple, placeholder="Добавте фото")
                    button.main-btn(data-file-btn="clean") Добавте фото
                    .main-form__gallery(data-gallery="cleanGallery")
            .main-form__place-menu.main-form__place-menu--trash-box
                .main-form__gallery-item
                    .main-form__sub-title Мусорные контейнеры
                    input.hide(type="file", multiple, placeholder="Добавте фото") 
                    button.main-btn(data-file-btn="boxes") Добавте фото
                    .main-form__gallery(data-gallery="boxesGallery")
        .main-form__input-group
            button.main-btn(data-role="send-data") Сохранить
        