extends ../main.layout.pug

block content
  .app-conatiner
    #map.map
  form.main-form.main-form--entry.hide(action="/", data-form="entry")
        legend.main-form__title Добавить новое место на карту
        .main-form__input-group
            input(type="text", placeholder="Введите название места")
        .main-form__input-group
            button Добавить место на карту
