extends ../main.layout.pug
include ./forms

block content
  .app-conatiner
    #map.map
  .app-conatiner__form-wrapper.hide(data-window="form-container")
    .app-conatiner__hideCover(data-close="close-form")
    +main-form()
    
