mixin gallery()
    .gallery
        img.close-btn(src="assets/images/checkmark.svg", alt="close", data-close="close-gallery")
        .gallery__slider
            .gallery__item
                img.gallery__slide(src="assets/content/trash1.jpg", alt="картинка", data-slide)